*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-weight: 400;
}

:root {
    --bg-color: var(--cal-poly-green);   
    --text-color: black;
    --pistachio: #9DD164ff;
    --avocado: #5E7E29ff;
    --cal-poly-green: #244816ff;
    --reseda-green: #757A45ff;
    --moss-green: #A0A15Dff;
    --sage: #CAD19Cff;
    --cream: #F6FEC3ff;
    --beige: #f0ecd6;
    --ivory: #F3F8ECff;
}

body{
    background: var(--beige);
    color: var(--cal-poly-green);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--cal-poly-green); 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 35px 12%;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}
.logo:hover {
    color: var(--avocado);
    text-shadow: 0 0 25px var(--cream);
    transform: scale(1.1);
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--cal-poly-green);
    border-bottom: 3px solid var(--cal-poly-green);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--pistachio);
    display: none
}

section{
    min-height: 100vh;
    padding: 10rem 12%, 10rem;
}
.home{
    width: 100%;
    min-height: 100vh;
    background: var(--beige);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-family: 'Times', serif;
    font-weight: 900;
    font-size: 42px;
}

span{
    color: var(--pistachio);
    font-weight: 400;
}
.logo span {
    text-shadow: 0 0 25px var(--cal-poly-green);
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 4.5rem;
    height: 4.5rem;
    background: var(--cal-poly-green);
    font-size: 2.5rem;
    border-radius: 50%;
    color: var(--beige);
    text-decoration: none; /* Remove underline from links */
    margin: 3rem 1.5rem 3rem 0;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--cal-poly-green);
    transform: scale(1.1)translateY(-5px);
    box-shadow: 0 0 25px #A0A15Dff;
    background-color: var(--avocado);
    background: var(--pistachio);
}

.btn{
    display: inline-block;
    padding: 1rem 2.8rem;
    background: beige;
    border-radius: 4rem;
    font-size: 1.6rem;
    color: black;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.btn:hover{
    transform: scale(1.05);
    box-shadow: 0 0 50px #9DD164ff;
}
.btn-group{
    display: flex;
    align-items: center;
    gap: 1.5rem;
}
.text-animation{
    font-size: 34px;
    font-weight: 600;
    min-width: 280px;   
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "Aspiring Generalist";
    color: var(--avocado);
    animation: words 20s infinite;
}
.text-animation span::after{
    content: "";
    background-color: var(--beige);
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    border-left: 3px solid var(--beige);
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(20) infinite;
}
@keyframes cursor{
    to{
        border-left: 2px solid var(--avocado);
    }
}
@keyframes words{
    0%,
    20% {
        content: "Data Analyst";
    }
    21%,
    40% {
        content: "Product Manager";
    }
    41%,
    60% {
        content: "Software Engineer";
    }
    61%,
    80% {
        content: "Life-Long Learner";
    }
    81%,
    100%{
        content: "Person";
    }
}
@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--sage);
}
::-webkit-scrollbar-track{
    background-color: color-mix(in srgb, color percentage, color percentage);
    width: 20px;
}

.about{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black; 
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px rgb(161, 207, 161),
                0 0 25px rgb(161, 207, 161);
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}

.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}

.heading{
    font-size: 4rem;
    font-weight: 600;
    text-align: center;
    margin: 5rem 0;
}
.experience{
    padding: 100px 15px;
    background: var(--beige);
}
.experience h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
}
.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--cal-poly-green);
    left: calc(50% - 1px);
}
.timeline-item{
    margin-bottom: 40px;
    position: relative;
    width: 100%;
}
.timeline-item:last-child{
    margin-bottom: 0;
}
.timeline-item:nth-child(odd){
    padding-right: calc(50% + 30px);
    text-align: right;
}
.timeline-item:nth-child(even){
    padding-left: calc(50% + 30px);
}
.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--cal-poly-green);
    box-shadow: 0 0 25px var(--cal-poly-green),
                0 0 25px var(--cal-poly-green);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: var(--cal-poly-green);
    margin: 6px 0 15px;
}
.timeline-content{
    font-size: 20px;
    font-weight: 500;
    color: var(--cal-poly-green);
}
.timeline-content h3{
    font-size: 24px;
    font-weight: 700;
    color: var(--cal-poly-green);
    margin: 1rem 0;
}
.timeline-content p{
    font-size: 18px;
    font-weight: 500;
    color: var(--cal-poly-green);
    margin: 1rem 0;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--sage);
}
::-webkit-scrollbar-track{
    background-color: color-mix(in srgb, color percentage, color percentage);
    width: 20px;
}
.bento-grid{
    flex: 1;
    height: 600px;
    display: flex;
    gap: 1em;
    padding: 0 4em;
}
.col-left{
    flex: 2;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.col-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
}
.box{
    flex: 1;
    display: flex;
    padding: 1em;
    gap: 1em;
    transition: 0.2s ease-in-out;
    border-radius: 1em;
}
.inner-box{
    flex: 1;
    border-radius: 1em;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.col-left .inner-box:nth-of-type(1){
    flex: 2;
}
.col-left .box:nth-of-type(2) .inner-box:nth-last-of-type(2){
    flex: 1;
}
.inner-box:hover{
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0 0 25px var(--cal-poly-green);
}
.col-right .box:hover{
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0 0 25px var(--cal-poly-green);
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.col-right .box{
    overflow: hidden;
}

@media(max-width:1200px){
    section{
        flex-direction: column;
        margin: 10em 2em;
        padding: 10% 5%;
    }
}