*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-weight: 100;
}

:root {
    --bg-color: var(--cal-poly-green);   
    --text-color: black;
    --pistachio: #9DD164ff;
    --avocado: #5E7E29ff;
    --cal-poly-green: #244816ff;
    --reseda-green: #757A45ff;
    --moss-green: #A0A15Dff;
    --sage: #CAD19Cff;
    --cream: #F6FEC3ff;
    --beige: #f0ecd6;
    --ivory: #F3F8ECff;
}

body{
    background: var(--beige);
    color: var(--cal-poly-green);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--cal-poly-green); 
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 35px 12%;
    z-index: 5;
}

.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease;
}

.logo:hover {
    color: var(--avocado);
    text-shadow: 0 0 25px var(--cream);
    transform: scale(1.1);
}

.logo span {
    text-shadow: 0 0 25px var(--cal-poly-green);
}

.navbar a{
    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--cal-poly-green);
    border-bottom: 3px solid var(--cal-poly-green);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--pistachio);
    display: none
}

.home{
    width: 100%;
    min-height: 100vh;
    background: var(--beige);
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}

.home-content{
    max-width: 800px;
}
.home-content h3{
    font-family: 'Times', serif;
    font-weight: 900;
    font-size: 42px;
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.home-content p{
    font-size: 18px;
    margin: 25px 0 30px;
}
.btn-box{
    width: 345px;
    display: flex;
    gap: 2em;
}
.btn-1{
    padding: 10px 28px;
    background-color: black;
    font-size: 18px;    
    color: white;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid transparent;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-1:hover{
    background-color: var(--moss-green);
    border: 2px solid green;
    color: white;
}
.btn-2{
    padding: 10px 28px;
    background-color: lightpink;
    font-size: 18px;    
    color: black;
    font-weight: 600;
    letter-spacing: 1px;
    border: 2px solid black;
    border-radius: 8px;
    transition: 0.3s ease;
    cursor: pointer;
}
.btn-2:hover{
    background-color: var(--pistachio);
    color: white;
}

::-webkit-scrollbar{
    width: 15px;
}
::-webkit-scrollbar-thumb{
    background-color: var(--sage);
}
::-webkit-scrollbar-track{
    background-color: color-mix(in srgb, color percentage, color percentage);
    width: 20px;
}

.about{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 12% 8%;
    gap: 10em;
    background: black; 
}
.about-img img{
    position: relative;
    width: 550px;
    box-shadow: 0 0 25px rgb(161, 207, 161),
                0 0 25px rgb(161, 207, 161);
    border-radius: 50%;
}
.about-content h2{
    text-align: left;
    color: white;
    font-size: 42px;
}
.about-content h3{
    font-size: 62px;
    color: white;
}

.about-content p{
    color: white;
    font-size: 20px;
    margin: 2em 0 3em;
}