*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-weight: 400;
}

:root {
    --bg-color: var(--cal-poly-green);   
    --text-color: #69005a;
    --pistachio: #9DD164ff;
    --avocado: #5E7E29ff;
    --cal-poly-green: #244816ff;
    --reseda-green: #757A45ff;
    --moss-green: #A0A15Dff;
    --sage: #CAD19Cff;
    --cream: #F6FEC3ff;
    --beige: #f0ecd6;
    --ivory: #F3F8ECff;
}

body{
    background: url('images/background.png') no-repeat center center fixed;
    background-size: cover;
    color: var(--text-color);
    font-family: 'Tahoma', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem;
    padding: 35px 5%;
    z-index: 5;
}

/*.logo {
    font-size: 3rem;
    color: white;
    font-weight: 800;
    transition: 0.3s ease;
}
.logo:hover {
    color: var(--avocado);
    text-shadow: 0 0 25px var(--cream);
    transform: scale(1.1);
} */

.navbar a{
    font-size: 18px;
    color: lightgoldenrodyellow;
    font-weight: 500;
    margin: 5px 20px;
    border-bottom: 3px solid transparent;
    transition: 0.3s ease;
}

.navbar a:hover,
.navbar a.active{
    color: var(--text-color);
    border-bottom: 3px solid var(--text-color);
}

#menu-icon{
    font-size: 3.6rem;
    color: var(--pistachio);
    display: none
}

section{
    min-height: 100vh;
    padding: 10rem 12%, 10rem;
}
.home{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    gap: 7em;
    padding: 30px 12% 0;
}
.home-content{
    max-width: 800px;
}
.home-content h3{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.home-content h2{
    font-size: 40px;
    font-family: Tahoma, sans-serif;
    font-weight: 600;
    margin: 20px 0;
}
.home-content p{
    font-size: 20px;
    margin: 30px 0 30px;
    font-family: Tahoma, sans-serif;
}
.home-content dl{
    font-size: 20px;
    margin: 25px 0 30px;
    font-family: Tahoma, sans-serif;
}

span{
    color: plum;
    font-weight: 400;
}
.logo span{
    text-shadow: 0 0 25px var(--cal-poly-green);
}
.home-content h1{
    font-size: 62px;
    line-height: 1.2;
}
.social-icons{
    display: flex;
    gap: 1rem;
    margin-top: 2rem;
    align-items: center;
    justify-content: center;
}
.social-icons a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3.5rem;
    height: 3.5rem;
    background: var(--text-color);
    font-size: 2rem;
    border-radius: 50%;
    color: lightgoldenrodyellow;
    margin: 0.5rem;
    transition: 0.3s ease-in-out;
}
.social-icons a:hover{
    color: var(--text-color);
    transform: scale(1.02)translateY(-1px);
    box-shadow: 0 0 5px var(--text-color);
    background-color: lightgoldenrodyellow;
}

.profile h3{
    text-align: center;
    font-size: 4rem;
    font-family: 'Times New Roman', serif;
    font-weight: 900;
    margin-top: 3rem;
    text-shadow: 0 0 20px lightgoldenrodyellow;
}
.profile h2{
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 1.5rem 10%;
}
.profile h1{
    text-align: center;
    font-size: 1.25rem;
    font-weight: 800;
    margin: 1.5rem 0;
    font-family: 'Tacoma', sans-serif;
}
.profile img{
    object-fit: cover;
    width: 325px;
    height: 350px;
    display: block;
    margin-top: 2rem;
    align-items: center;
    margin: 2rem auto 0;
}

.text-animation{
    font-size: 25px;
    font-weight: 600;
    min-width: 280px;   
    align-items: center;
}
.text-animation span{
    position: relative;
}
.text-animation span::before{
    content: "";
    color: var(--text-color);
    animation: words 8s infinite;
}
.text-animation span::after{
    content: "";
    position: absolute;
    width: calc(100% + 8px);
    height: 100%;
    right: -8px;
}

@keyframes words{
    0%,
    10% {
        content: "Growth-Minded";
    }
    11%,
    20% {
        content: "Creative Thinker";
    }
    21%,
    30% {
        content: "Tech Enthusiast";
    }
    31%,
    40% {
        content: "Data-Driven";
    }
    41%,
    50% {
        content: "Problem Solver";
    }
    51%,
    60% {
        content: "Life-Long Learner";
    }
    61%,
    70% {
        content: "Art Lover";
    }
    80% {
        content: "Eager Collaborator";
    }
    81%,
    90% {
        content: "Sustainability Advocate";
    }
    91%,
    100%{
        content: "Community Builder";
    }
}
.to-experience {
    display: block;
    padding: 10px 10px;
    background-color: #69005a;
    color: white;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    font-size: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
    text-align: center;
    position: sticky;
    bottom: 20px; 
    right: 20px;
}

.heading{
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 900;
    font-size: 20px;
}
.experience{
    padding: 100px 15px;
}
.experience h2{
    margin-bottom: 5rem;
}
.timeline-items{
    max-width: 1200px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin: auto;
}
/*.timeline-items::before{
    content: "";
    position: absolute;
    width: 5px;
    height: 100%;
    background: var(--cal-poly-green);
    left: calc(50% - 1px);
}*/
.timeline-item{
    margin-bottom: 40px;
    position: relative;
    width: 100%;
    padding-left: calc(50% + 50px);
    text-align: left;
    display: flex;
    align-items: center;
}
.timeline-item:last-child{
    margin-bottom: 0;
}

/*.timeline-dot{
    height: 21px;
    width: 21px;
    background-color: var(--cal-poly-green);
    box-shadow: 0 0 25px var(--cal-poly-green),
                0 0 25px var(--cal-poly-green);
    position: absolute;
    left: calc(50% - 8px);
    border-radius: 50%;
    top: 10px;
}
*/
.timeline-date {
    font-size: 20px;
    font-weight: 500;
    margin-right: 25px;
}
.timeline-content{
    font-size: 20px;
    font-weight: 500;
}
.timeline-content h3{
    font-size: 24px;
    font-weight: 700;
    margin: 1rem 0;
}
.timeline-content p{
    font-size: 18px;
    font-weight: 500;
    margin: 1rem 0;
}

.projects{
    padding: 100px 15px;
}
.bento-grid{
    flex: 1;
    height: 700px;
    display: flex;
    gap: 1em;
    padding: 0 4em;
}
.col-left{
    flex: 2;
    display: flex;
    flex-direction: column;
}
.col-right{
    flex: 1;
    display: flex;
    flex-direction: column;
}
.box{
    flex: 1;
    display: flex;
    padding: 1em;
    gap: 1em;
    transition: 0.2s ease-in-out;
    border-radius: 1em;
}
.inner-box{
    flex: 1;
    border-radius: 1em;
    overflow: hidden;
    opacity: 0.8;
    transition: 0.2s ease-in-out;
}
.col-left .inner-box:nth-of-type(1){
    flex: 2;
}
.col-left .box:nth-of-type(2) .inner-box:nth-last-of-type(2){
    flex: 1;
}
.inner-box:hover{
    opacity: 1;
    transform: scale(1.02);
    box-shadow: 0 0 15px var(--cal-poly-green);
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    align-items: center;
}
.col-right .box{
    overflow: hidden;
}

.col-left .box, .col-right .box {
    margin: 0; /* Remove any default margin */
    flex: 1; /* Ensure boxes take equal space */
}

@media(max-width:1200px){
    section{
        flex-direction: column;
        margin: 10em 2em;
        padding: 10% 5%;
    }
}
.art{
    padding: 100px 0px;
}
.slider{
    width: 100%;
    height: var(--height);
    overflow: hidden;
    mask-image: linear-gradient(
        to right,
        transparent,
        #000 10% 90%,
        transparent
    );
}
.slider .list{
    display: flex;
    width: 100%;
    min-width: calc(var(--width) * var(--quantity));
    position: relative;
}
.slider .list .item{
    width: var(--width);
    height: var(--height);
    position: absolute;
    left: 100%;
    animation: autoRun 10s linear infinite;
    transition: filter 0.5s;
    animation-delay: calc( (10s / var(--quantity)) * (var(--position) - 1) - 10s)!important;
}
.slider .list .item img{
    width: 100%;
    border-radius: 1em;
}
@keyframes autoRun{
    from{
        left: 100%;
    }to{
        left: calc(var(--width) * -1);
    }
}
.slider:hover .item{
    animation-play-state: paused!important;
    filter: grayscale(1);
}
.slider .item:hover{
    filter: grayscale(0);
}
.slider[reverse="true"] .item{
    animation: reversePlay 10s linear infinite;
}
@keyframes reversePlay{
    from{
        left: calc(var(--width) * -1);
    }to{
        left: 100%;
    }
}